html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;

}

a {
    text-decoration: none;
}

.home,
.mais,
.sobre,
.servicos,
.contato {
    height: 100vh;
}

.menu-navegacao header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu-navegacao h1 a {
    font-size: 50px;
    color: black;
    padding-left: 120px;
}

.menu-navegacao ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding-right: 80px;
    padding-top: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.menu-navegacao ul li a {
    display: block;
    color: grey;
}

.menu-navegacao ul li a.contato {
    font-size: 30px;
    color: black;
    border: 3px solid black;
    padding: 15px 25px 20px 25px;
    margin: 0px 0px 0px 80px;
    height: 40px;
    text-align: center;
}

.apresentacao {
    position: relative;
    width: 100%;
    height: 600px;
    color: white;
    font-size: 18px;
    overflow: hidden;
    margin-top: 40px;
}

.apresentacao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/background-pagina-inicial.jfif') center/cover no-repeat;
    filter: blur(3px) brightness(50%);
    z-index: -1;

}

.apresentacao h1,
.apresentacao p,
.apresentacao h2,
.apresentacao p {
    position: relative;
    z-index: 1;

}

.apresentacao h1 {
    padding-left: 120px;
    padding-top: 150px;
    margin: 0;
    font-family: Oswald;
    font-size: 96px;
    font-weight: 700;
    line-height: 142.27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.apresentacao h2 {
    margin: 0;
    padding-left: 120px;
    font-size: 32px;
    font-weight: 300;
    line-height: 47.42px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 15px;
    padding-bottom: 35px;
}

.apresentacao p a {
    margin-left: 150px;
    padding: 15px 80px 15px 80px;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: blue;
    color: white;

}

.mais .conteudo h1 {
    display: block;
    padding: 80px 0px 20px 120px;
    color: blue;
}

.mais .conteudo h2 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 42.19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 120px;
    padding-right: 400px;
    padding-bottom: 20px;
}

.mais .conteudo p {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0px 300px 70px 120px;
}

.mais {
    display: flex;
    flex-direction: row;
}

.mais .conteudo p a {
    color: blue;
}

.mais .imagem {
    padding: 80px 80px 0px 0px;
}

.sobre {
    background-color: #D8D8D8;
    padding-bottom: 200px;
}

.sobre h1 {
    color: blue;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 70px 0px 25px 0px;
}

.sobre h2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.sobre .div-principal {
    margin: 90px 160px 0px 160px;
    padding: 0px;
    display: flex;
    position: relative;
    justify-content: center;
    height: 600px;
    gap: 160px
}

.sobre .imagem-um {
    width: 250px;
    height: 600px;
    overflow: hidden;
    flex: 1;
    box-shadow: 0px 4px 10px 0px #00000099;
    background: white;
}

.sobre .imagem-um img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sobre .imagem-um h1 {
    padding: 20px 20px 10px 20px;
    color: black;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.sobre .imagem-um p {
    padding: 20px 60px 0px 60px;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 200;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.sobre .imagem-dois {
    width: 250px;
    height: 600px;
    overflow: hidden;
    flex: 1;
    box-shadow: 0px 4px 10px 0px #00000099;
    background: white;
}

.sobre .imagem-dois img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sobre .imagem-dois h1 {
    padding: 20px 20px 10px 20px;
    color: black;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.sobre .imagem-dois p {
    padding: 20px 60px 0px 60px;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 200;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.sobre .imagem-tres {
    width: 250px;
    height: 600px;
    overflow: hidden;
    flex: 1;
    box-shadow: 0px 4px 10px 0px #00000099;
    background: white;
}

.sobre .imagem-tres img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sobre .imagem-tres h1 {
    padding: 20px 20px 10px 20px;
    color: black;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.sobre .imagem-tres p {
    padding: 20px 60px 0px 60px;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 200;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.contato {
    display: flex;
}

.contato .localizacao h1 {
    color: blue;
    padding: 80px 0px 20px 120px;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 500;
    line-height: 47.42px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.contato .localizacao h2 {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 20px 0px 10px 120px;
}